<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Geyer</title>

    <link rel="stylesheet" href="/assets/style/style.css">
    <link rel="icon" href="../../resources/favicon.png" type="image/x-icon">
</head>

<body>
    <div id="top-buttons">
        <a href="#contact" id="contact-button" class="fade-hover">Contact</a>
           &bull;
        <a href="/assets/downloads/Ryan%20Geyer%20Resume.pdf" class="fade-hover">Resume</a>
    </div>

    <div class="page-section" id="start">
        <div id="logo-content">
            <img src="/assets/img/logo.png" alt="RG logo" />
            <h1>Ryan Geyer</h1>
            <h2>Web and Game Developer</h2>
        </div>
    </div>

    <div class="page-section" id="projects">
        <h1 class="section-header">Things I've Made</h1>

        <div id="projects-container">
            {{#each projects}}
                <div class="project">
                    <div class="description">
                        <p class="project-title">{{name}}</p>
                        <p class="project-desc">{{shortDesc}}</p>
                    </div>
                    <a href="/project/{{pathName}}">
                        <img src="/assets/projects/{{pathName}}/thumbnail.jpg" alt="{{name}}"/>
                    </a>
                </div>
            {{/each}}
            <div class="project empty-project"></div>
            <div class="project empty-project"></div>
        </div>
    </div>

    <div class="page-section" id="about">
        <h1 class="section-header">About Me</h1>
        <p>Hi, I'm Ryan. I'm a fourth-year Game Design and Development major at Rochester Institute of Technology. Problem solving and creating through code is my passion.</p>
        <p>I know C#, C++, JavaScript, and HTML/CSS, and I have a great deal of experience with the Unity Game Engine. I'd love to put my skills to work for you.</p>
        <p id="resume-download"><a href="downloads/Ryan%20Geyer%20Resume%20-%20Fall%202017.pdf" class="fade-hover">Download my resume here.</a></p>
    </div>

    <div class="page-section" id="contact">
        <h1 class="section-header">Let's Talk</h1>

        <form id="contact-form" method="POST" action="#" enctype="multipart/form-data">
            <div id="afterSubmit"><div></div></div>

            <div class="formSection" id="nameSection">
                <label>Your Name *</label>
                <input type="text" name="name" id="name" class="input" value="" valid="false">
                <div class="spacer"></div>
            </div>

            <div class="formSection" id="emailSection">
                <label>Your Email *</label>
                <input type="email" name="email" id="email" class="input" value="" valid="false">
                <div class="spacer"></div>

            </div>

            <div class="formSection" id="messageSection">
                <label>Message *</label>
                <textarea name="message" id="message" class="input" cols="40" rows="4" valid="false"></textarea>
                <div class="spacer"></div>
            </div>

            <input id="submit" name="submit" type="submit" value="Send">
            <div class="spacer"></div>
        </form>

    </div>

    <div class="page-section" id="footer">
        <a href="https://www.linkedin.com/in/gyanreyer/"><img src="/assets/img/linkedinIcon.png" alt="LinkedIn"></a>
        <a href="https://github.com/Gyanreyer"><img src="/assets/img/githubIcon.png" alt="GitHub"></a>
        <a href="https://twitter.com/gyanreyer"><img src="/assets/img/twitterIcon.png" alt="Twitter"></a>

        <p>&copy; Ryan Geyer 2017</p>
    </div>

    <script src="/assets/main.js"></script>
</body>
</html>